---
import type { Author } from "../../../airtable/data/authors";
import { loadBooks } from "../../../airtable/data/books";
import type { Series } from "../../../airtable/data/series";
import PageTitle from "../../../components/PageTitle.astro";
import StickyTable from "../../../components/StickyTable.astro";
import OmniLink from "../../../components/links/OmniLink.astro";
import Layout from "../../../layouts/Layout.astro";
import { ratingPage } from "../../../utils/data";

const books = await loadBooks();

const series = Object.values(books).reduce<
  Record<string, Series & { authors: Author[]; numReads: number }>
>((result, book) => {
  if (book.series) {
    result[book.series.slug] ||= {
      ...book.series,
      authors: book.authors,
      numReads: 0,
    };
    result[book.series.slug].numReads += 1;
  }
  return result;
}, {});
---

<Layout
  pageTitle={"All Book Series"}
  pageDescription={`All ${
    Object.keys(series).length
  } book series I've read at least one book in.`}
  activeTab="books"
>
  <PageTitle>All Series</PageTitle>
  <p class="py-2">
    I've read at least one book in {Object.keys(series).length} different
    series. Completed series are rated using my <OmniLink
      href={ratingPage("books")}
    >
      {"4-point rating system"}
    </OmniLink>.
  </p>
  <p class="pb-3">See also:</p>
  <ul class="list-disc pb-1 pl-8">
    <li class="pb-3">
      <OmniLink href="/books/">recent reads</OmniLink>
    </li>
    <li class="pb-3">
      <OmniLink href="/books/authors/">all authors</OmniLink>
    </li>
  </ul>

  <StickyTable
    header={[
      { text: "Rating", classes: ["px-1"] },
      { text: "Title" },
      { text: "Author" },
      { text: "Progress", classes: ["px-1"] },
    ]}
    rows={Object.values(series)
      .toSorted((a, b) => (a.name > b.name ? 1 : -1))
      .map((s) => [
        {
          rating: s.remarks?.rating,
          classes: ["p-2"],
        },
        {
          text: s.name,
          linkTo: s.permalink,
          classes: ["px-1", "py-2", "md:px-2"],
        },
        {
          authors: s.authors,
          classes: ["p-2"],
        },
        {
          text: `${s.numReads} / ${s.numBooksInSeries ?? "?"}`,
          classes: ["p-2"],
        },
      ])}
  />
</Layout>
