---
import ExternalLink from "../../components/links/ExternalLink.astro";
import RoundedLink from "../../components/links/RoundedLink.astro";
import RenderedMarkdown from "../../components/RenderedMarkdown.astro";
import Layout from "../../layouts/Layout.astro";
import { seoTitle } from "../../utils/data";
import { getCollection, type CollectionEntry } from "astro:content";
import CalendarIcon from "../../components/icons/calendar.astro";

type Props = { entry: CollectionEntry<"articles"> };
type Params = { slug: CollectionEntry<"articles">["slug"] };
type StaticPaths = Promise<Array<{ params: Params; props: Props }>>;

export const getStaticPaths = async (): StaticPaths => {
  const articles = await getCollection("articles");
  return articles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
};

const { entry } = Astro.props;
const { Content } = await entry.render();

// try to keep this in sync with RenderedMarkdown's h2 styles; wish this could be more programmatic
const h1Styles = [
  "pt-2",
  "text-4xl",

  // border
  "border-b",
  "border-blue-600",
  "dark:border-amber-300",
];

// can replace specific markdown components: https://mdxjs.com/table-of-components/
// TODO: if I ever need to differentiate between internal and external links in markdown, could do that in a wrapper component
const components = { a: ExternalLink };
---

<!-- articles get a slightly wider layout -->
<Layout
  pageTitle={`FIXME`}
  seoTitle={seoTitle("Games, Movies, and Books")}
  seoDescription={`Learn all about David's review site, where he shares his thoughts on the games he plays, the movies he watches, and the books he reads.`}
  activeTab="articles"
  maxWidth="md:max-w-2xl"
>
  <h1 class:list={h1Styles}>
    {entry.data.title}
  </h1>

  <p class="pb-4 pt-2">
    <CalendarIcon classes={["inline h-4 mb-1 pr-2", "dark:fill-white"]} />{
      entry.data.publishedOn ?? "TBD"
    }
  </p>
  <RenderedMarkdown>
    <!-- https://github.com/withastro/astro/issues/12057 -->
    <Content components={components} frontmatter={entry.data} />
  </RenderedMarkdown>
  <hr class="my-6" />
  <p>
    FIXME Mentioned Games: <RoundedLink href="/games/little-kitty-big-city/">
      Beat Breaker
    </RoundedLink>
  </p>
</Layout>
