---
import PageTitle from "../../components/PageTitle.astro";
import SubscribeBlurb from "../../components/SubscribeBlurb.astro";
import OmniLink from "../../components/links/OmniLink.astro";
import Layout from "../../layouts/Layout.astro";
import { getPublishedArticles } from "../../utils/content";
import ArticleList from "../../components/ArticleList.astro";

const allArticles = await getPublishedArticles();
---

<Layout
  pageTitle="All Articles"
  pageDescription={`Every longer article I've written.`}
  seoDescription={`All ${allArticles.length} long-form articles I've written.`}
  activeTab="articles"
>
  <PageTitle>All Articles</PageTitle>
  <p class="pb-3 pt-1">
    In addition to micro-reviews, I've also published {allArticles.length}
     longer-form reviews and articles. If you'd like me to review your game,
    please <OmniLink href="/contact/">
      {"get in touch"}
    </OmniLink>!
  </p>

  <SubscribeBlurb mediaType="article" />

  <hr class="my-3" />

  <ArticleList articles={allArticles} />
</Layout>
