---
import RoundedLink from "../../../components/links/RoundedLink.astro";
import Layout from "../../../layouts/Layout.astro";
import { type Collection } from "../../../airtable/types";
import {
  COLLECTION_DESCRIPTIONS,
  loadGames,
} from "../../../airtable/data/games";

const games = await loadGames();

type CollectionRecord = { collection: Collection; games: Set<string> };

const collections = Object.values(games).reduce<
  Record<string, CollectionRecord>
>((result, game) => {
  const collection = game.collection;
  if (collection) {
    result[collection.slug] ||= {
      collection,
      games: new Set([]),
    };
    result[collection.slug].games.add(game.igdbId);
  }
  return result;
}, {});
---

<Layout
  pageTitle={`Game Collections`}
  seoTitle={"All Game Collections"}
  seoDescription={`A list of the ${
    Object.keys(collections).length
  } curated game collections I've built.`}
  activeTab="games"
>
  <div class="py-3">
    <h1 class="pt-2 text-2xl">Game Collections</h1>
    <p class="pt-2">
      Each of these collections houses our favorite games in each of these
      genres. Click through to find things to play with your loved ones!
    </p>
  </div>
  <ul class="list-disc pl-4">
    {
      Object.values(collections)
        .toSorted((a, b) => b.games.size - a.games.size)
        .map(({ collection, games }) => (
          <li class="py-2 leading-7">
            <RoundedLink href={collection.permalink}>
              {collection.fullName}
            </RoundedLink>
            {/* these counts may not match the page in dev, since it tracks plays and this tracks games */}
            - {games.size} games where{" "}
            {COLLECTION_DESCRIPTIONS[collection.slug]}
          </li>
        ))
    }
  </ul>
</Layout>
