---
import { linkMode } from "../../utils/links";
import { exhaustive } from "../../utils/typechecking";
import ExternalLink from "../links/ExternalLink.astro";
import RoundedLink from "../links/RoundedLink.astro";
import SubtleLink from "../links/SubtleLink.astro";

// a "smart" link component to present everything correctly. Doesn't support overriding classes- just use the class directly if you care that much

type Props = {
  href: string;
  /**
   * passed by rehype when styling anchors
   */
  isHeading?: true;
};

const { href, isHeading } = Astro.props;

const mode = linkMode(href);

let LinkComponent: typeof ExternalLink;

if (mode === "external") {
  LinkComponent = ExternalLink;
} else if (mode === "rounded") {
  LinkComponent = RoundedLink;
} else if (mode === "subtle") {
  LinkComponent = SubtleLink;
} else {
  exhaustive(mode);
  throw new Error("unreachable");
}
---

{
  href.startsWith("#") && isHeading ? (
    // heading anchors are basically unstyled
    <a
      class:list={[
        "not-prose",
        // works on mobile while the element is the last selected one!
        "hover:after:content-['_#']",
      ]}
      href={href}
    >
      <slot />
    </a>
  ) : (
    <LinkComponent href={href}>
      <slot />
    </LinkComponent>
  )
}
