---
type Props = {
  href: string;
  classes?: Array<string | string[]>;
};

const { href, classes = [] } = Astro.props;
---

<a
  class:list={["underline hover:bg-blue-100 dark:hover:bg-blue-700", classes]}
  href={href}
>
  <slot />
</a>
