---
import { GENRE_DESCRIPTIONS, loadGames } from "../../../airtable/data/games";
import RoundedLink from "../../../components/links/RoundedLink.astro";
import Layout from "../../../layouts/Layout.astro";
import { genrePermalink, pluralize } from "../../../utils";

const games = await loadGames();

type GenreRecord = {
  genre: { name: string; slug: string };
  games: Set<string>;
};

const genres = Object.values(games).reduce<Record<string, GenreRecord>>(
  (result, game) => {
    const { name, slug } = game.genre;

    if (slug in result) {
      result[slug].games.add(game.igdbId);
    } else {
      result[slug] = {
        genre: { name, slug },
        games: new Set([game.igdbId]),
      };
    }

    return result;
  },
  {},
);
---

<Layout
  pageTitle={`All Game Genres`}
  seoTitle={"All Game Genres"}
  seoDescription={`A list of every game genre I've written reviews for.`}
  activeTab="games"
>
  <div class="py-3">
    <h1 class="pt-2 text-2xl">Game Genres</h1>
    <p class="pt-2">
      I categorize games I've played into into a basic genre based on their core
      gameplay loop. It's not an exact science, but it helps ensure I'm not
      playing a bunch of the same style of game in a row. The genres are as
      follows:
    </p>
  </div>
  <ul class="list-disc pl-4">
    {
      Object.values(genres)
        .toSorted((a, b) =>
          a.genre.name > b.genre.name
            ? 1
            : b.genre.name > a.genre.name
              ? -1
              : 0,
        )
        .map(({ genre, games }) => (
          <li class="py-2">
            <RoundedLink href={genrePermalink(genre.slug)}>
              {genre.name}
            </RoundedLink>
            games ({games.size} play{pluralize(games.size)}) are categorized by{" "}
            {GENRE_DESCRIPTIONS[genre.slug] ?? "MISSING GENRE DESCRIPTION!"}
          </li>
        ))
    }
  </ul>
</Layout>
