---
import type { Author } from "../../../airtable/data/authors";
import { loadReads } from "../../../airtable/data/reads";
import StickyTable from "../../../components/StickyTable.astro";
import RoundedLink from "../../../components/links/RoundedLink.astro";
import Layout from "../../../layouts/Layout.astro";

const reads = await loadReads();

const authors = Object.values(reads).reduce<
  Record<string, Author & { books: Set<string>; numReads: number }>
>((result, read) => {
  read.book.authors.forEach((a) => {
    if (a.slug in result) {
      result[a.slug].numReads += 1;
      result[a.slug].books.add(read.book.gbid);
    } else {
      result[a.slug] = {
        ...a,
        books: new Set([read.book.gbid]),
        numReads: 1,
      };
    }
  });

  return result;
}, {});
---

<Layout
  pageTitle={`Book Authors`}
  seoTitle={"All Book Authors"}
  seoDescription={`A list of the ${
    Object.keys(authors).length
  } different authors I've read at least one book by.`}
  activeTab="books"
>
  <h1 class="pt-2 text-2xl">All Authors</h1>
  <p class="py-3">
    I've read at least one book by {Object.keys(authors).length} different
    authors. See also:
  </p>
  <ul class="list-disc pb-1 pl-8">
    <li class="pb-3">
      <RoundedLink href="/books/">recent reads</RoundedLink>
    </li>
    <li class="pb-3">
      <RoundedLink href="/books/series/">all series</RoundedLink>
    </li>
  </ul>

  <StickyTable
    header={[
      {
        text: "Name",
      },
      {
        text: "# Books",
        classes: ["px-2"],
      },
      {
        text: "# Books Read",
        classes: ["px-2"],
      },
    ]}
    rows={Object.values(authors)
      .toSorted((a, b) => (a.lastName > b.lastName ? 1 : -1))
      .map((author) => [
        {
          text: author.name,
          linkTo: author.permalink,
          classes: ["px-2", "py-3"],
        },
        { text: author.books.size, classes: ["pl-3"] },
        { text: author.numReads, classes: ["pl-3"] },
      ])}
  />
</Layout>
