---
import { collectionPermalink } from "../utils/data";
import OmniLink from "./mdx/OmniLink.astro";

type Props = {
  collectionEmoji: Set<string>;
  specificAwardUrl?: string;
  showFirstTimeAsterisk?: boolean;
};

const {
  collectionEmoji,
  specificAwardUrl,
  showFirstTimeAsterisk = true,
} = Astro.props;
---

<ul
  class="mb-3 rounded bg-red-50 p-2 dark:bg-red-950 dark:ring-1 dark:ring-white"
>
  {
    showFirstTimeAsterisk && (
      <li class="py-1">
        <code>*</code> - this is my first <em>logged</em> watch, but I had seen
        the movie before.
      </li>
    )
  }
  <li class="py-1">🍿 - watched in a theater.</li>
  {
    /* prettier-ignore */
    collectionEmoji.size > 0 && <li class="py-1 leading-8 md:leading-[inherit]">
        {[...collectionEmoji].join(" / ")} - Member of a{" "}
        <OmniLink href={collectionPermalink("movies","")}>{"collection"}</OmniLink>.
      </li>
  }
  <li class="py-1">
    🥇 / 🥈 / 🥉 -
    <OmniLink
      href={specificAwardUrl ?? "https://xavd.id/blog/tags/yearly-review"}
    >
      {"Favorite of the Year"}
    </OmniLink> honoree.
  </li>
</ul>
