---
import BookIcon from "./icons/book.astro";
import GameIcon from "./icons/game.astro";
import MovieIcon from "./icons/movie.astro";

type Props = {
  active?: "games" | "movies" | "books";
};

const { active } = Astro.props;

const buttonStyles = [
  "text-center", // centers the svg
  "mx-1",
  "md:mx-2",
  "last:mr-0",
  "p-1",
  "md:p-2",
  "text-l",
  "md:text-xl",
];
const iconStyles = ["inline h-6 md:pr-1"];
---

<nav
  class:list={[
    "flex items-center border-b-2",
    {
      "border-blue-600": active === "games",
      "border-red-600": active === "movies",
      "border-emerald-600": active === "books",
    },
  ]}
>
  <h2 class="pl-2 text-xl md:text-2xl">
    <a class="hover:underline" href="/">david.reviews</a>:
  </h2>

  <a
    href="/games"
    class:list={[
      buttonStyles,
      "fill-blue-600",
      "hover:shadow-insetGame",
      { "bg-blue-600 fill-white text-white": active === "games" },
    ]}
    ><GameIcon classes={[iconStyles]} />
    <span class="inline pl-1">games</span></a
  >
  <a
    href="/movies"
    class:list={[
      buttonStyles,
      "fill-red-600",
      "hover:shadow-insetMovie",
      {
        "bg-red-600 fill-white text-white": active === "movies",
      },
    ]}
    ><MovieIcon classes={iconStyles} />
    <span class="inline pl-1">movies</span></a
  >
  <a
    href="/books"
    class:list={[
      buttonStyles,
      "fill-emerald-600",
      "hover:shadow-insetBook",
      { "bg-emerald-600 fill-white text-white": active === "books" },
    ]}
    ><BookIcon classes={iconStyles} />
    <span class="inline pl-1">books</span></a
  >
  <!-- <input class="ml-4 bg-black text-white" type="text" /> -->
</nav>
