---
import GameIcon from "./icons/game.astro";
import MovieIcon from "./icons/movie.astro";
import BookIcon from "./icons/book.astro";

type Props = {
  active?: "games" | "movies" | "books";
};

const { active } = Astro.props;

const navStyles = ["ml-2", "p-1", "md:ml-4", "md:p-2", "text-l", "md:text-xl"];
const iconStyles = "inline h-6 pr-1";
---

<nav class="flex items-center border-b-2 border-sky-500">
  <h2 class="pl-2 text-xl md:text-2xl">
    <a class="hover:underline" href="/">david.reviews</a>:
  </h2>

  <a
    href="/games"
    class:list={[
      navStyles,
      "fill-blue-600",
      "hover:shadow-insetGame",
      { "bg-blue-600 fill-white text-white": active === "games" },
    ]}
    ><GameIcon classes={[iconStyles]} />
    <span class="inline pl-1">games</span></a
  >
  <a
    href="/movies"
    class:list={[
      navStyles,
      "fill-red-600",
      "hover:shadow-insetMovie",
      {
        "bg-red-600 fill-white text-white": active === "movies",
      },
    ]}
    ><MovieIcon classes={iconStyles} />
    <span class="inline pl-1">movies</span></a
  >
  <a
    href="/books"
    class:list={[
      navStyles,
      "fill-emerald-600",
      "hover:shadow-insetBook",
      { "bg-emerald-600 fill-white text-white": active === "books" },
    ]}
    ><BookIcon classes={iconStyles} />
    <span class="inline pl-1">books</span></a
  >
  <!-- <input class="ml-4 bg-black text-white" type="text" /> -->
</nav>
