---
import StarEmpty from "./icons/star-empty.astro";
import StarFilled from "./icons/star-filled.astro";

type Props = {
  rating: number;
  classes?: string[];
};

const { rating, classes: componentClasses } = Astro.props;
const classes = "mb-[0.25em] h-4 inline";
---

<div class:list={[componentClasses, "whitespace-nowrap"]}>
  {
    Array.from({ length: rating }).map(() => <StarFilled classes={[classes]} />)
  }{
    Array.from({ length: 4 - rating }).map(() => (
      <StarEmpty classes={[classes, "dark:fill-white"]} />
    ))
  }
</div>
