---
// these are custom styles I apply to all rendered markdown
// that's article bodies, plus about/contact pages
const proseStyles = [
  // basic styles
  "prose",
  "dark:prose-invert",
  "md:prose-lg",

  // inline code
  "prose-code:before:content-none", // remove visible backticks from around inline code
  "prose-code:after:content-none", // remove visible backticks from around inline code
  "prose-blockquote:before:content-none", // remove visible backticks from around inline code
  "prose-blockquote:after:content-none", // remove visible backticks from around inline code
  "dark:prose-pre:border", // border on code blocks in dark mode

  // h2
  // - colors
  "prose-h2:border-b",
  "prose-h2:border-dashed", // dash the lines in bodies to soften them a little
  "prose-h2:border-blue-600",
  "dark:prose-h2:border-amber-300",
  // - spacing
  "prose-h2:mb-4",
  "prose-h2:mt-8",
  // h3 content
  "prose-h3:before:content-['›_']",
  "prose-h3:before:text-blue-600",
  "dark:prose-h3:before:text-amber-300",
  // blockquote colors
  "prose-blockquote:border-blue-600",
  "dark:prose-blockquote:border-amber-300",

  // image
  "prose-img:border",
  // "prose-img:border-dashed",
  // - border colors
  "prose-img:border-zinc-800",
  "dark:prose-img:border-amber-300",
  // center images that don't fill the space
  "prose-img:m-auto",

  // shrink huge hr margins
  // doing them evenly makes it look imbalanced
  "prose-hr:mt-6",
  "prose-hr:mb-4",

  "pb-4", // give some padding at the bottom of the page
];
---

<div class:list={proseStyles}>
  <slot />
</div>
