---
import type { Category } from "../utils/data";
import RssIcon from "./icons/rss.astro";
import SubtleLink from "./links/SubtleLink.astro";

type Props = {
  mediaType: Category | "article";
};

const { mediaType } = Astro.props;
---

<!-- prettier-ignore -->
<p class="pb-3">
  To be notified of new {
    mediaType === "article" ? "articles" : `${mediaType} reviews`
  }, check out the <SubtleLink href="/feeds">
    <RssIcon classes={["inline", "mr-1"]} />RSS Feed</SubtleLink>.
</p>
