---
import type { Category } from "../utils/data";
import SteamFollowButton from "./SteamFollowButton.astro";
import BlueskyIcon from "./icons/bluesky.astro";
import MastodonIcon from "./icons/mastodon.astro";
import RssIcon from "./icons/rss.astro";
import OmniLink from "./links/OmniLink.astro";

type Props = {
  /**
   * only used with the default blurb
   */
  mediaType?: Category | "article";
  /**
   * text to use instead of the default: `To be notified of new TYPE reviews, consider subscribing via`
   */
  blurb?: `${string} via`;
  /**
   * classes applied to the outer div
   */
  classes?: string | string[];
  /**
   * classes applied to the inner `p`
   */
  pClasses?: string | string[];
  /**
   * center and italisize the text
   */
  centered?: boolean;
  showSteamButton?: boolean;
};

const {
  mediaType,
  classes = [],
  pClasses = ["pb-2"],
  showSteamButton,
  blurb,
  centered,
} = Astro.props;
---

<div class:list={[{ "text-center italic": centered }, classes]}>
  <p class:list={pClasses}>
    {
      blurb ??
        `To be notified of new ${
          mediaType === "article"
            ? "articles"
            : `${mediaType ? `${mediaType} ` : ""}reviews`
        }, consider subscribing via`
    }
    <span class="whitespace-nowrap"
      ><RssIcon classes={["inline", "mr-1"]} /><OmniLink href="/feeds/">
        {"RSS Feeds"}
      </OmniLink></span
    >, <span class="whitespace-nowrap"
      ><BlueskyIcon /><OmniLink href="https://bsky.app/profile/david.reviews">
        {"Bluesky"}
      </OmniLink></span
    >, {showSteamButton ? "" : "or"}
    <span class="whitespace-nowrap"
      ><MastodonIcon /><OmniLink href="https://mastodon.social/@xavdid">
        {"Mastodon"}
      </OmniLink></span
    >{showSteamButton ? ", or:" : "!"}
  </p>
  {showSteamButton && <SteamFollowButton />}
</div>
