---
import { ratingPage } from "../../utils/data";
import Rating from "../Rating.astro";
import OmniLink from "./OmniLink.astro";
type Props = {
  // matches zod schema
  review: {
    rating: number;
    blurb: string;
    plusses: string[];
    minuses: string[];
  };
};

const {
  review: { rating, blurb, plusses, minuses },
} = Astro.props;
---

<blockquote class="not-prose border-l-4 border-amber-300">
  <div class="rounded-r-md bg-zinc-200 p-4 dark:bg-zinc-700">
    <Rating rating={rating} starHeight="h-8" classes={["text-center"]} />

    <div class="mt-4 text-2xl italic">{blurb}</div>

    <div class="flex flex-col pl-4 md:flex-row">
      <ul class="mt-4 list-['+__'] text-lg md:w-[45%]">
        {plusses.map((p) => <li class="py-1.5 md:py-2">{p}</li>)}
      </ul>
      <div class="w-[10%]"></div>
      <ul class="mt-4 list-['-__'] text-lg md:w-[45%]">
        {minuses.map((p) => <li class="py-1.5 md:py-2">{p}</li>)}
      </ul>
    </div>
    <div class="pt-2 text-center text-sm italic">
      Score based on my <OmniLink href={ratingPage("games")}>
        {"4-point rating scale"}
      </OmniLink>.
    </div>
  </div>
</blockquote>
