---
import Steam from "../icons/steam.astro";

type Props = {
  steamId: string;
  /**
   * What's in the textbox. Defaults to the game's steam description if not present.
   */
  description?: string;
  /**
   * whether to add a leading `<hr />` element; false by default
   */
  addHr?: boolean;

  /**
   * show a simple buy button on mobile probably not needed on big reviews, but useful otherwise. True by default.
   */
  showMobileFallback?: boolean;

  /**
   * whether or not the game is always free; changes the mobile fallback button text. False by default (and ignored if showMobileFallback is `false`).
   */
  isFree?: boolean;
};

const {
  steamId,
  description,
  addHr,
  showMobileFallback = true,
  isFree = false,
} = Astro.props;

// I don't love the UTM, but the widget adds one anyway so I might as well get credit
const url = `https://store.steampowered.com/widget/${steamId}/?utm_source=david-reviews${
  description ? `&t=${encodeURIComponent(description)}` : ""
}`;
---

<!-- make an extra block that's mobile-only? that describes where to get it? Have to balance that --><!-- maybe add param thats: platforms?: Array<string | {name: string, url: string}> which I can smartly join --><!-- that probably always goes after the embed, since I can use that in full reviews too --><!-- this doesn't look good on mobile, unfortunately -->
<div class="hidden md:block">
  {addHr && <hr />}

  <iframe
    src={url}
    class:list={[
      "mx-auto",
      "my-4",
      "border-none",
      "focus-visible:outline-none",
      "w-[646px]",
      "h-[190px]",
    ]}></iframe>
</div>
{
  showMobileFallback && (
    <div class="text-center">
      <a
        href={url}
        target="_blank"
        rel="noopener"
        class:list={[
          "rounded",
          "p-3",
          "bg-[#75b022]",
          "no-underline",
          "md:hidden",
        ]}
      >
        <Steam /> {isFree ? "Free" : "Buy it"} on Steam
      </a>
    </div>
  )
}
