---
import { stringify } from "querystring";

type Props = {
  youtubeId: string;
  params?: {
    // when to start/stop the video, in seconds
    start?: number;
    end?: number;
  };
};

const { youtubeId, params } = Astro.props;
if (!youtubeId) {
  throw new Error("Missing prop `youtubeId`!");
}
---

<div class:list={["video", "relative", "pb-[56.25%]", "pt-[25px]", "h-0"]}>
  <iframe
    class:list={["absolute", "top-0", "left-0", "w-full", "h-full"]}
    src={`https://www.youtube-nocookie.com/embed/${youtubeId}?${stringify({
      ...params,
      // don't show related videos at the end of the embe
      rel: 0,
    })}`}
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
