---
import { SEO, type Props as SEOProps } from "astro-seo";

import Navbar from "../components/Navbar.astro";

type Props = {
  pageTitle: string; // shown in the tab
  seoTitle: string; // shown in the OG embed
  seoDescription: `${string}.`;
  activeTab?: "games" | "movies" | "books" | "search";
};

const {
  activeTab,
  pageTitle: title,
  seoTitle,
  seoDescription: description,
} = Astro.props;

const groupedSeo: SEOProps = {
  title,
  titleTemplate: "%s | david.reviews",
  description,
  openGraph: {
    basic: {
      title: seoTitle,
      type: "website",
      image: "https://david.reviews/og.png",
    },
    optional: {
      siteName: "david.reviews",
    },
    image: {
      type: "image/png",
      width: 1920,
      height: 1080,
      alt: "A banner for david.reviews, showing the site title and icons for games, movies, and books.",
    },
  },
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAJ6TrAFy+8QCC0vgA7+/vAC6n7ACE0/gAS2RuAKbU5QC/7f4AJ6TqACmh5gAAAAAAAAAAAAAAAAAAAAAARERERERERABEREREREREAEREREREREQAREREeIRERABHd3SYhUREAERERJklVEQAREREkzUVRABHd3RDNlFUAEREREQzZRUAREREREM2WlBHd3d3RDNltUREREREQzZVREREREREMzVHd3d3d0RDM0REREREREQzRERERERERAMAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAA"
      rel="icon"
      type="image/x-icon"
    />
    <meta name="generator" content={Astro.generator} />

    <SEO {...groupedSeo} />
  </head>
  <body class="dark:bg-zinc-800 dark:text-white">
    <Navbar active={activeTab} />
    <main class="mx-auto max-w-[95%] pb-4 md:max-w-xl">
      <slot />
    </main>
  </body>
</html>
