---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAJ6TrAFy+8QCC0vgA7+/vAC6n7ACE0/gAS2RuAKbU5QC/7f4AJ6TqACmh5gAAAAAAAAAAAAAAAAAAAAAARERERERERABEREREREREAEREREREREQAREREeIRERABHd3SYhUREAERERJklVEQAREREkzUVRABHd3RDNlFUAEREREQzZRUAREREREM2WlBHd3d3RDNltUREREREQzZVREREREREMzVHd3d3d0RDM0REREREREQzRERERERERAMAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAA"
      rel="icon"
      type="image/x-icon"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar active="movies" />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    /* background: #13151a; */
  }
</style>
