---
import Navbar from "../components/Navbar.astro";

type Props = {
  title: string;
  active?: "games" | "movies" | "books";
};

const { title, active } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAJ6TrAFy+8QCC0vgA7+/vAC6n7ACE0/gAS2RuAKbU5QC/7f4AJ6TqACmh5gAAAAAAAAAAAAAAAAAAAAAARERERERERABEREREREREAEREREREREQAREREeIRERABHd3SYhUREAERERJklVEQAREREkzUVRABHd3RDNlFUAEREREQzZRUAREREREM2WlBHd3d3RDNltUREREREQzZVREREREREMzVHd3d3d0RDM0REREREREQzRERERERERAMAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAA"
      rel="icon"
      type="image/x-icon"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | david.reviews</title>
  </head>
  <body>
    <Navbar active={active} />
    <main class="mx-auto max-w-[95%] pb-4 md:max-w-xl">
      <slot />
    </main>
  </body>
</html>
