---
import type { JSX } from "preact";
import PageTitle from "../../components/PageTitle.astro";
import {
  ArticleIcon,
  BookIcon,
  GameIcon,
  MovieIcon,
  StarIcon,
} from "../../components/icons/allIcons";
import BlueskyIcon from "../../components/icons/bluesky.astro";
import MastodonIcon from "../../components/icons/mastodon.astro";
import ExternalLink from "../../components/links/ExternalLink.astro";
import Layout from "../../layouts/Layout.astro";
import { capitalize } from "../../utils/data";
import { feedTypes } from "../../utils/rss";

const icons: Record<(typeof feedTypes)[number], () => JSX.Element> = {
  games: GameIcon,
  movies: MovieIcon,
  books: BookIcon,
  everything: StarIcon,
  articles: ArticleIcon,
};
---

<Layout
  pageTitle="All Feeds"
  pageDescription="Stay up to date with RSS feeds for each review type (or everything)!"
>
  <PageTitle>Feeds</PageTitle>
  <p class="py-2">
    There are {feedTypes.length} RSS feeds available for my reviews. You can
    subscribe to individual media types or enjoy the "Everything" experience!
  </p>
  <!-- Each is available in both <ExternalLink
      href="https://zapier.com/blog/how-to-use-rss-feeds/"
    >
      {"RSS"}
    </ExternalLink> and <ExternalLink href="https://www.jsonfeed.org/">
      {"JSON"}
    </ExternalLink> varieties. -->
  <ul class="list-disc pl-4">
    {
      feedTypes.map((type) => {
        const Icon = icons[type];
        return (
          <li class="py-1">
            <Icon />
            {capitalize(type)}:{" "}
            <ExternalLink
              href={`/feeds/${type.toLowerCase()}.xml`}
            >{`https://david.reviews/feeds/${type.toLowerCase()}.xml`}</ExternalLink>
          </li>
        );
      })
    }
  </ul>

  <p class="py-2">
    Additionally, I post most reviews to a dedicated <BlueskyIcon
      classes={["inline h-5 pr-1", "mb-1"]}
    /><ExternalLink href="https://bsky.app/profile/david.reviews">
      {"Bluesky account"}
    </ExternalLink>, as well as to my personal account on <MastodonIcon
      classes={["inline h-6 pr-1"]}
    /><ExternalLink href="https://mastodon.social/@xavdid">
      {"Mastodon"}
    </ExternalLink>
  </p>
</Layout>
